<a href="https://colab.research.google.com/github/Gil135/analise_de_dados_com_python/blob/main/Analise_dados_excel_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Ol√° Analista tudo bem!!**

  Utilizaremos o notebook para analise de vendas  em varias filiais de uma determinada loja.

In [1]:
#Importando a bibliotecas
#usaremos pandas para analise dos dados acrecentaremos ao estudo Seaborn pra implementar graficos com melhor visual
import pandas as pd
import seaborn as sns

In [2]:
#importando o dataset excel salvo no "github"
baseExcel1 = pd.read_excel("https://github.com/Gil135/analise_de_dados_com_python/blob/main/Aracaju.xlsx?raw=true")
baseExcel2 = pd.read_excel("https://github.com/Gil135/analise_de_dados_com_python/blob/main/Fortaleza.xlsx?raw=true")
baseExcel3 = pd.read_excel("https://github.com/Gil135/analise_de_dados_com_python/blob/main/Natal.xlsx?raw=true")
baseExcel4 = pd.read_excel("https://github.com/Gil135/analise_de_dados_com_python/blob/main/Recife.xlsx?raw=true")
baseExcel5 = pd.read_excel("https://github.com/Gil135/analise_de_dados_com_python/blob/main/Salvador.xlsx?raw=true")

In [3]:
baseExcel2.head()

      Cidade       Data  Vendas  LojaID  Qtde
0  Fortaleza 2019-01-01   45.27    1002     2
1  Fortaleza 2019-01-01  115.61    1002     3
2  Fortaleza 2019-02-10   35.33    1004     3
3  Fortaleza 2019-02-10   20.95    1004     6
4  Fortaleza 2019-01-01   14.25    1004     6

In [ ]:
#juntando todos os arquivos
baseExcel = pd.concat([baseExcel1,baseExcel2,baseExcel3,baseExcel4,baseExcel5,])
#Exibindo as 5 primeiras linhas
baseExcel.head()

In [ ]:
#Verificando o tipo de dado de cada coluna
baseExcel.dtypes

In [ ]:
#Alterando o tipo de dado da coluna LojaID
baseExcel["LojaID"] = baseExcel["LojaID"].astype("object")

In [ ]:
#Checando os tipos de dados das colunas
baseExcel.dtypes

In [ ]:
baseExcel.head()

In [ ]:
baseExcel.describe()

In [ ]:
baseExcel.groupby("Cidade")["Vendas"].nunique()